extends layout

block header 
  p(class="text-c-text-light font-thin text-sm")=title
block content
  //- p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  //- h2 Dynamic content

  //- p The library has the following record counts:

  //- ul
  //-   li #[strong Books:] !{book_count}
  //-   li #[strong Copies:] !{book_instance_count}
  //-   li #[strong Copies available:] !{book_instance_available_count}
  //-   li #[strong Authors:] !{author_count}
  //-   li #[strong Genres:] !{genre_count}

  h1(class="text-xl font-medium mb-4") Top Books
  div(class="overflow-x-auto bg-white shadow-lg rounded-lg")
    table(class="min-w-full table-auto")
      thead(class="bg-c-purple text-c-text-med text-base font-medium")
        tr()
          th(class="py-3 px-6 text-left") Title
          th(class="py-3 px-6 text-left") Author
          th(class="py-3 px-6 text-left") ISBN
          th(class="py-3 px-6 text-left") Genre
      tbody(class="text-c-text-light text-base")
        if book_list.length
          each book in book_list
            tr(class="border-b hover:hover:bg-gray-50")
              td(class="py-3 px-6") 
                a(href=`${book.url}`) #{book.title}
              td(class="py-3 px-6") 
                a(href=`${book.author.url}`) #{book.author.name}
              td(class="py-3 px-6") #{book.isbn}
              td(class="py-3 px-6") #{book.genre.map((e) => e.name).join(', ')}
        else 
          p="There are no books."