extends layout

block header 
  p(class="text-c-text-light font-thin text-sm")=title
block content
  form(method='POST')
    div(class="flex gap-3 flex-col py-2.5")
      input(type='text' placeholder='First name' name='first_name' required value=(undefined===author ? '' : author.first_name),
      class="w-3/12  px-4 py-2 text-c-text-dark bg-white border border-c-border-color rounded-lg focus:border-c-text-light focus:outline-none")
  
      input(type='text', placeholder='Family name (Surname)' name='family_name' required value=(undefined===author ? '' : author.family_name)
      class="w-3/12  px-4 py-2 text-c-text-dark bg-white border border-c-border-color rounded-lg focus:border-c-text-light focus:outline-none")

      input(type='date', name='date_of_birth' value=(undefined===author ? '' : author.dob_fomated)
      class="w-3/12  px-4 py-2 text-c-text-dark bg-white border border-c-border-color rounded-lg focus:border-c-text-light focus:outline-none" )

      input(type='date', name='date_of_death' value=(undefined===author ? '' : author.dob_fomated) 
      class="w-3/12  px-4 py-2 text-c-text-dark bg-white border border-c-border-color rounded-lg focus:border-c-text-light focus:outline-none")

      button(type="submit" class="w-36 py-2.5 rounded-lg bg-c-text-dark text-white") Submit

  if errors
    ul
      for error in errors
        li!= error.msg