extends layout
include floating_btn
include modal
include table_actions
block header 
  p(class="text-c-text-light font-thin text-sm")=title
block content 
  +floating_btn("author/create")
  if author_list.length
    div(class="overflow-x-auto bg-white shadow-lg rounded-lg")
      table(class="min-w-full table-auto")
        thead(class="bg-c-purple text-c-text-med text-base font-medium")
          tr()
            th(class="py-3 px-6 text-left") Name
            th(class="py-3 px-6 text-left") Date of Birth
            th(class="py-3 px-6 text-left") Date of Death
            th(class="w-36 py-3 px-6") Action
        tbody(class="text-c-text-light text-base")
          if author_list.length
            each author in author_list
              tr(class="border-b hover:hover:bg-gray-50")
                td(class="py-3 px-6") #{author.name}
                td(class="py-3 px-6") #{author.dob_formated}
                td(class="py-3 px-6") #{author.dod_formated}
                td(class="py-3 px-6") 
                  +table_actions(author.url, `${author.url}/update`, `${author.url}/delete` )    
  else 
    div(class="flex justify-center items-center w-full h-[80%]")
      p="There are no authors."
  div(class="pt-24")
  