extends layout
include floating_btn
include table_actions
include modal
block header 
  p(class="text-c-text-light font-thin text-sm")=title
block content
  +floating_btn("book/create")
  if book_list.length
    div(class="overflow-x-auto bg-white shadow-lg rounded-lg")
      table(class="min-w-full table-auto")
        thead(class="bg-c-purple text-c-text-med text-base font-medium")
          tr()
            th(class="py-3 px-6 text-left") Title
            th(class="py-3 px-6 text-left") Author
            th(class="py-3 px-6 text-left") ISBN
            th(class="py-3 px-6 text-left") Genre
            th(class="w-36 py-3 px-6") Actions
        tbody(class="text-c-text-light text-base")
            each book in book_list
              tr(class="border-b hover:hover:bg-gray-50")
                td(class="py-3 px-6") 
                  a(href=`${book.url}`) #{book.title}
                td(class="py-3 px-6") 
                  if book.author != null
                    a(href=`${book.author.url}`) #{book.author.name}
                  else  
                    p="--"
                td(class="py-3 px-6") #{book.isbn}
                td(class="py-3 px-6") #{book.genre.map((e) => e.name).join(', ')}
                td(class="py-3 px-6")
                    +table_actions(book.url, `${book.url}/update`, `${book.url}/delete` ) 
  else 
    div(class="flex justify-center items-center w-full h-[80%]")
      p="There are no books."